.container
  .col-12.mt-5.mb-5
    %h3.h6.text-uppercase.mb-0 Frequently Asked Questions

    %h2 Where is my money?
    %p  Lorem ipsum dolor sit amet, mei reque mundi persequeris no, eius menandri an sed. Iisque contentiones voluptatibus vix cu, ea congue libris elaboraret nam. Mel et purto veri option. Solet aliquip ad est, eum putant impetus tincidunt ad, albucius persecuti at vim. Ea cum eirmod utroque accumsan, quando tation eirmod ei mei, et harum dicit deleniti has.

    %h2 Why do I pay so much?
    %p  Lorem ipsum dolor sit amet, mei reque mundi persequeris no, eius menandri an sed. Iisque contentiones voluptatibus vix cu, ea congue libris elaboraret nam. Mel et purto veri option. Solet aliquip ad est, eum putant impetus tincidunt ad, albucius persecuti at vim. Ea cum eirmod utroque accumsan, quando tation eirmod ei mei, et harum dicit deleniti has.

    %h2 I have no money left..
    %p  Lorem ipsum dolor sit amet, mei reque mundi persequeris no, eius menandri an sed. Iisque contentiones voluptatibus vix cu, ea congue libris elaboraret nam. Mel et purto veri option. Solet aliquip ad est, eum putant impetus tincidunt ad, albucius persecuti at vim. Ea cum eirmod utroque accumsan, quando tation eirmod ei mei, et harum dicit deleniti has.

    %h2 Can I earn money somehow?
    %p  Lorem ipsum dolor sit amet, mei reque mundi persequeris no, eius menandri an sed. Iisque contentiones voluptatibus vix cu, ea congue libris elaboraret nam. Mel et purto veri option. Solet aliquip ad est, eum putant impetus tincidunt ad, albucius persecuti at vim. Ea cum eirmod utroque accumsan, quando tation eirmod ei mei, et harum dicit deleniti has.

    %h2 I can't unlink my bank account
    %p  Lorem ipsum dolor sit amet, mei reque mundi persequeris no, eius menandri an sed. Iisque contentiones voluptatibus vix cu, ea congue libris elaboraret nam. Mel et purto veri option. Solet aliquip ad est, eum putant impetus tincidunt ad, albucius persecuti at vim. Ea cum eirmod utroque accumsan, quando tation eirmod ei mei, et harum dicit deleniti has.